@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}
body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    min-height: 100vh;
    background-color: #56ccff;
}
header {
    backdrop-filter: blur(10px);
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5 ease;
}
header .brand {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .navigation {
    position: relative;
}
header .navigation .navigation-items a {
    position: relative;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #ffffff;
    width: 0;
    height: 1%; /* Corregir el valor 'px' aquí */
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:hover:before {
    width: 100%;
    height: 2px;
}

.hero-section {
    background: url('') no-repeat center center/cover;
    background-size: cover;
    background-position: center top; 
    color: rgb(14, 236, 162);
    text-align: center;
    padding: 100px 0;
}

.delivery-options {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.option {
    width: 45%;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delivery-form {
    background: #f8f7f7;
    color: rgb(10, 0, 0);
    padding: 50px 0;
    text-align: center;
}

.delivery-form form {
    max-width: 500px;
    margin: 0 auto;
}

.delivery-form input[type="text"],
.delivery-form input[type="tel"],
.delivery-form input[type="email"],
.delivery-form button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
	background-color:#fff;
    border: #000000;
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.1rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #000000;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #000000;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #0a0606;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #030303;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #000000;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #000000;
}

.content button {
	border: none;
	background-color: #000000;
	color: #ffffff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--dark-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}